<link rel="stylesheet" href="/css/FormStyles.css" />

<div class="wrapper">

    <section class="Banner">

        <img src="/IMg/diseno-concepto-puestos-trabajo_24908-61427.jpg" alt="Alternate Text" class="puestol1" />
        <img src="/IMg/laboroal2.png" alt="Alternate Text" class="puestol2" />
        <img src="/IMg/Registro3.jpg" alt="Alternate Text" class="puestol1" />

    </section>

    <section class="form-container">

        <form action="ProcessCandidatosForm" method="post" class="formulario-registro">

            <h1>Registro de candidato</h1>

            <div class="input-text">
                <input type="text" class="txt" name="cedula" placeholder="Su Cédula" required />
            </div>

            <div class="input-text">
                <input type="text" class="txt" name="nombre" placeholder="Nombre" required />
            </div>

            <div class="input-text">
                <input type="email" class="txt" name= "correo" placeholder="Correo Electronico" required />
            </div>

            <div class="input-text">
                <input type="text" class="txt" name="salario" placeholder="Salario al que aspira" required />
            </div>

            <div class="submit-input">
                <input type="submit" name="Registrar" value="Registrar Candidato"/>
            </div>

        </form>

    </section>
</div>