    <style>

    .mensaje {
        background: rgba(0,0,0,0.5);
        padding: 10px 15px;
        font-size: 16px;
    }

        a:active {
            text-decoration: none;
        }

    p {
        font-size: 22px;
        color: #E5E5E6;
    }

</style>

<p>Se ha completado el registro exitosamente</p>

<a href="Index" style="text-decoration:none " class="text-white mensaje">Volver a pagina de inicio</a>